<p style="color: green"><%= notice %></p>

<%= render @restaurant %>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">Content :<%= review.content %>- Rating :<%= review.rating %></li>
  <% end %>
</ul>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>

<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
